@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');

:root {
  --bg-dark: #303030;
  --blue: #26c4fa;
  --yellow: #edb524;
  --green: #1bb857;
  --purple: #8231ff;
  --red: #da522e;
  --pink: #f4428f;
  --white: #ffffff;
}

body {
  margin: 0;
  font-family: "Sniglet", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-dark);
}

code {
  font-family: "Sniglet", source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  color: #ffffff;
  font-size: 13px;
}


.react-clock__face {
  background-color: var(--white);
}