@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

:root {
  --bg-dark: #303030;
  --blue: #26c4fa;
  --yellow: #edb524;
  --green: #1bb857;
  --purple: #8231ff;
  --red: #da522e;
  --pink: #f4428f;
  --white: #ffffff;
}

body {
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-dark);
}

code {
  font-family: "Poppins", source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  color: #ffffff;
  font-size: 13px;
}


.react-clock__face {
  background-color: var(--white);
}

.custom-shape-divider-bottom-1650816513 {
  position: absolute;
  z-index: -1000;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1650816513 svg {
  position: relative;
  display: block;
  width: calc(153% + 1.3px);
  height: 500px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1650816513 .shape-fill {
  fill: #2E1B3FE0;
}